.ProductNewCard{
    min-height: 300px;
    border-radius: 20px !important;
    overflow: hidden;
    /* margin: 10px; */
    position: relative;
    padding: 20px;
    /* padding-bottom: 2px; */
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
}
.ImageNewCardContainer{
    padding: 20px;
    background-color: white;
}

.ProductNewCardDescription{
    font-size: 12px;
    font-family: 'STCBold';
    text-align: center;
}
.DiscountNewCardContainer{
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    background-color: #f33d3c;
    top: -42px;
    rotate: -45deg;
    left: -51px;
    padding-top: 50px;
    padding-left: 43px;
    padding-right: 44px;
}