@media (max-width:1290px) {
    .FavHeader{
        padding-right: 20px !important;
    }
    .FavHeaderDirectionLtr{
        padding-left: 20px !important;
    }   
 }
@media (min-width:990px) {
    .CardProduct{
        width: 180px !important;
    }
    
 }

 @media (max-width:1025px) {
    .Quantity{
        display: flex;
        justify-content: normal;
        flex-direction: row;
        align-items: center;
        flex-direction: column;
    }
}
    

@media (max-width:990px) {
    .AllProductsContainer{
        padding-right: 0px !important;
    }
    .MailingImg{
        max-width: 300px;
    }
    .SubscribingText h1{
        font-size: 50px ;
    }
    .CategoryItem,.CategoryLastItem{
        width: 25% !important;
    }
    .CategoryText{
        display: none;
    }
    .CategoryBtn {
        width: 80%;
        max-width: 150px;
    }
    .OrderdByContainer{
        margin-top: 20px !important;
    }
    .CardFilters{
        display: none;
    }
    .Shadow{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0000005e;
        z-index: 1000;
        top: 0;
        height: 100%;
        /* padding-top: 40px; */
        overflow-y: scroll;
        
    }
    .Shadow .CardFilters{
        width: 50%;
    }
    
    .MostRightFilterCol{
        order: -1;
    }
    .CenterDetailsCol{
        order: 3;
        margin-bottom: 50px;
    }
    .MainImageContainer img{
        width: 50%;
    }
    .FavDetailsBtn{
        margin-top: 0px !important;
    }
    .CenterDetailsCol{
        padding-right: 50px !important;
        padding-left: 50px !important;
    }
    .AllProductsContainer{
        direction: rtl;
    }
    .ProductImagesContainer{
        direction: ltr;
    }
    .RightSideBtns{
        display: flex;
        justify-content: space-evenly;
    }
    .Quantity{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: baseline;
    }
}

@media (max-width:768px) {
    .MainImageContainer img{
        width: 60%;
    }
    .GalleryItem{
        width: 50% !important;
    }
}

@media (max-width:700px) {
    .MainImageContainer img{
        width: 70%;
    }
}
@media (max-width:600px) {
    .custom-next {
        position: absolute;
        top: 45%;
        right: 0px !important;
        /* color: #fbd203; */
        width: 30px;
        height: 30px;
    }
    .custom-prev {
        position: absolute;
        top: 40%;
        left: 0px !important;
        /* color: #fbd203; */
        width: 30px;
        height: 30px;
    }
    
    .Shadow .CardFilters{
        width: 70%;
    }
    
    
}

@media (max-width:575px) {
    .ProductImagesContainer{
        order: -1;
    }
    .SubImageCard{
        width: 15% !important;
    }
    .PricesContainer .Container img{
        width: 25% !important;
    }
    .RightSideBtns{
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-right: 20%;
    }
    .FavDetailsBtn{
        margin-top: 10px !important;
    }
    .CenterDetailsCol{
        display: flex;
        flex-direction: column;
        position: relative;
        top: -50px;
    }
    .VariationsContainer{
        order: -1;
        margin-bottom: 28px;
    
    }
    .CenterDetailsCol{
        padding: 30px !important;
        padding-top: 0 !important;
        
    }
    .VariationName {
        padding: 0 !important;
    }
    .CartFavQuantContainer{
        margin-top: 40px !important;
    }
    .MostRightFilterCol{
        padding-top: 10px !important;
    }
    .VariationOne .row,
    .VariationTwo .row{
        display: flex;
        justify-content: space-evenly;
    }
    .CategoryItem,
    .CategoryLastItem {
        padding: 5px !important;
    }
    .CategoryBtn{
        padding: 5px !important;
    }
}
@media (max-width:580px) {
    .FooterRow .col-md-4{
        width: 33.33333%;
    }
    .SelectedFilters {
        justify-content: center !important;
       
    }
    .SelectedFilters .row .col-sm-3{
        width: 25%;
    }
    
}
@media (max-width:545px) {
    
    .FooterRow .col-md-4{
        width: 100%;
    }
    .FooterRow .col-md-4 .row{
        width: 100%;
    }
    .FooterListItem{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center !important;
    }
    .CategoryBtn img {
        width: 80%;
        max-width: 150px;
    }
    .CategoryItem::after {
        content: "";
        position: absolute;
        top: 30%;
        right: 0;
        height: 40%;
        width: 2px !important;
        background-color: #000;
    }
}
 @media (min-width:440px) {
    .CardProduct{
        width: 210px !important;
    }
    .ProductNewCard {
        width: 210px !important;
    }
    
 }
 @media (max-width:440px) {
    .CardProduct{
        width: 180px !important;
    }
    .ProductNewCard {
        width: 180px !important;
    }
    .SubImageCard{
        width: 20% !important;
    }
 }

 @media (max-width:360px) {
    
    .ProductNewCard {
        width: 150px !important;
    }
 }