.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px; 
    z-index: 1000;
}

.custom-prev {
    left: -50px; 
    rotate: 180deg;
    top: 40%;
}

.custom-next {
    right: -50px; 
}
