.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px; 
    z-index: 1000;
}

.custom-prev {
    left: -50px; 
    rotate: 180deg;
    top: 40%;
}

.custom-next {
    right: -50px; 
}
@media (max-width:600px) {
    .custom-next {
        position: absolute;
        top: 45%;
        right: 0px !important;
        /* color: #fbd203; */
        width: 30px;
        height: 30px;
    }
    .custom-prev {
        position: absolute;
        top: 40%;
        left: 0px !important;
        /* color: #fbd203; */
        width: 30px;
        height: 30px;
    }
}